/* .degradados {
    background: linear-gradient(
       left 15deg, 
       rgb(112, 161, 112) 0%,
       red 30%,
       yellow 80%,
       black 100%   
       );
}
div {
    width: 200px;
    height: 200px;
    margin: 10%;
} */


/* .ol {
    background-color: lightcoral;
    height: 200px;
    width: 50%;
    text-align: center;
    position: relative;
    border: 5PX solid;
    overflow: hidden;
}
p {
    text-shadow: 0 0 5px black;
    color: white;
}

.ol:before {
    content: "esto";
    position: absolute;
    cursor: col-resize;
} */
div {
    font-family: Arial, Helvetica, serif;
    background-color: #579632;
    margin: 50px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
}

.triangulo {
    transform: translate(0);
    transition-duration: 5s;
    transition-duration: 5s;
    /* cuando vas a dar un elemento un (seudoelemento) tiene que darle
    esta etiqueta que esta arriba☝ para que el seudoelmento no se quite del box or caja.
    es casi como un oveeflow:'hidden'; */
}
.triangulo:hover {
    transform: translateY(80px);
    transform: translateY(80px);
    transition-duration: 1s;
    transition-duration: 1s;
}
.triangulo:hover:before {
    content: '';
    border-style: solid;
    border-width: 30px 30px 30px 30px;
    border-color: rgb(000, 000, 000)
                  transparent
                  transparent
                  transparent;
    position:     absolute;
    top: -30px;
    left: 50%;
    margin-left: -30px;
}
.triangulo {
    transform: translateX(0);
    transition-duration: 4s;
}


.degradado {
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
}
.degradado::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(
                45deg, white 45%, #aaa 50%,
                #ccc 60%, white);
}
.degradado:hover:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #579632;
}
.degradado {
    transform: translateX(0);
    transition-duration: 2s;
}


.sombra {
    transform: translateX(0);
    transition-duration: 4s;
}
.sombra:before {
    content: '';
    width: 90%;
    height: 10px;
    bottom: -10px;
    left: 5%;
    right: 5%;
    position: absolute;
    background: radial-gradient(
        center, ellipse,
        rgba(0, 0, 0, 0.46) 0%,
        rgba(0, 0, 0, 0) 80%) ;
        transition-duration: 4s;
}
.sombra:hover {
    transform: translateY(-80px);
    transition-duration: 4s;
}
.sombra:hover::before {
    transform: translateY(30px);
    transition-duration: 4s;
}



.fondo {
    transform: translateX(0);
    transition-duration: 4s; 
}

.fondo::before {
    content: '';
    width: 90%;
    height: 10px;
    top: 100%;
    left: 5%;
    right: 5%;
    position: absolute;
    background: radial-gradient(
        center, ellipse,
        rgba(0, 0, 0, 0.46) 0%,
        rgba(0, 0, 0, 0) 80%) ;
        transition-duration: 4s;
}

.fondo:hover {
    background-color: rgb(245, 128, 128);
    box-shadow: 2px 4px 8px rgba(0, 0, 0);
    color: white;
    text-shadow:  0 0 10px black;
}
.fondo:hover {
    transform: translateY(60px);
    transition-duration: 1s;
}
.fondo:hover {
    transition-duration: 3s;
}


.boder {
    position: relative;
}
.boder:hover:after {
    content: '';
    position: absolute;
    border: 4px solid rgb(233, 233, 0);
    bottom: 5px;
    left: 5px;
    top: 5px;
    right: 5px;

}
.boder:hover {
    transform: translateY(60px);
    transition-duration: 1s;
}
.boder {
    transform: translateX(0);
    transition-duration: 4s; 
}

.retirado {
    position: relative;
}
.retirado:before {
    content: '';
    position: absolute;
    border: 5px solid black;
    top: -18px;
    right: -16px;
    left: -16px;
    bottom: -16px;
    opacity: 0;
    transition-duration: 1s;
}
.retirado:hover::before {
    top: -0px;
    bottom: -0px;
    left: -0px;
    right: -0px;
    opacity: 1;
}
.retirado:hover {
    transform: translateY(60px);
    transition-duration: 1s;
}
.retirado {
    transform: translateX(0);
    transition-duration: 2s; 
}



















