/* div {
    width: 200px;
    height: 150px;
    margin: 50px;
    box-shadow: 10px -10px 0 0 rgb(196, 128, 4),
                20px -20px 0 0 navy,
                30px -30px 0 0 red;    
}

p {
    position: relative;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    top: 30%;
    color: #fff;
    text-shadow: 0 0 5px rgb(255, 0, 0);
} */
/* div {
    width: 70%;
    height: 300px;
    border: 3px solid;
    margin: 50px;
    background: url(img/firma.gif),
                url(img/portada.jpg);

    background-repeat: no-repeat, repeat;
    background-position: right top,
                           center;
    background-repeat: no-repeat;
    background-position: border-box; 
}
 */
 div {
    width: 200px;
    height: 200px;
    border: 1px solid;
    background-color: rgb(165, 131, 39);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* 
    transform: rotate(20deg);
    transform-origin: center right; */
    /* transform: skew(0deg, 50deg); */
 }
 .aux {
     /* esto es muy importante*/
     /* background-color: lightcoral;
     transform: translateY(0px);
    transform: scale(0.5, 0.5);
    transition: all 6s linear; */
    transition-property: all; 
    transition-duration: 3s;
    transition-timing-function: ease-in;
 }
 .aux:hover {
     transform: rotate(180deg);
     background-color: lightcoral;
     width: 20px;
 }