body {
    background-color: rgb(216, 145, 119);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.06em;
    margin: 0;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
#main-header {
    background-color: coral;
    color: #fff;
}
#navbar {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: 2em;
}
#navbar li:hover{
    background-color: coral;
    border-bottom: 15px rgba(230, 230, 230, 0.733);
}
#navbar ul{
    padding: 0;
    list-style: none;
    
}
#navbar li{
    display: inline; 
}

#navbar a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding-right: 25px;
}
#showcase {
    background-image: url('../img/fondo.jpg');
    background-position: center right;
    height: 400px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
}
#showcase {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height : 2em;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
    padding-top: 30px;
}
.main {
    float: left;
    width: 80%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar {
    float: right;
    width: 20%;
    background: rgba(53, 29, 29, 0.418);
    color: #fff; 
    padding: 10px;
    padding: 0 30px;
    box-sizing: border-box;
}
#main-footer {
    text-align: center;
}
#display {
    display: inline-block;
    background: rgba(0, 0, 0, 0.884);
    color: #fff; 
    margin: auto;
    height: 0 5em;
    padding-left: 15px;
    padding-right: 15px;
}
@media(max-width:600px) {
    .main {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
    #display {
        display: inline-block;
        color: #fff;
        padding: 12px;
    }
    #display {
        text-align: center;
    }
}
